.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.logo img {
    margin: 0;
    padding: 10px;
    max-height: 55px;
    height: auto;
    width: auto;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 20px;
}

.nav-link ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px;
}

.nav-link li {
    margin: 0 15px;
}

.nav-link a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav-link a .icon {
    display: none;
}

.nav-link a.active {
    font-weight: bold;
    color: #000;
}

.nav-link a span {
    margin-left: 8px;
    /* Add margin to create space between icon and text */
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 75px;
        left: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .nav-link.open {
        display: flex;
    }

    .nav-link ul {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .nav-link li {
        margin: 15px 0;
        width: 100%;
        text-align: center;
    }

    .nav-link a {
        font-size: 20px;
        padding: 10px 0;
        width: 100%;
    }

    .nav-link a .icon {
        display: inline-block;
        margin-right: 8px;
    }
}
